@import '_setup.scss';

$red:#DD1A23;
$pink:#f8d1d3;
$offwhite:#d8d8d8;
$grey:#a8988e;

@mixin fontSize($number){
	font-size:$number * 1px;
	font-size:($number / 10) * 1rem; 
}

@mixin roboto{
	font-family:'Roboto Condensed';
}

@mixin muli{
	font-family:'Muli';
}




// UNIVERSAL SETTINGS

html{
	font-size:62.5%;
}

body{
	@include roboto;
	@include fontSize(16);
	font-weight:300;
	background: url(../images/background.jpg) no-repeat;
	background-size:cover;
	word-wrap:break-word;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
	padding:0;
	margin:0;
}

h2, h3{
	font-weight:300;
}

a{
	text-decoration:none;
}

ul{
	list-style:none;
}

.flex{
	flex-wrap:wrap;
	display:flex;
}

.container{
	width:95%;
	margin:0 auto;
}

.innerContainer{
	width: 85%;
	margin:0 auto;
}

main{
	justify-content:space-between;
}





// CONDENSED

.left, .right{
	letter-spacing:0.5px;
	color:$offwhite;
}

.authorInfo a, .article a{
	text-decoration:underline;
	color:$grey;
	&:hover{
		text-decoration:none;
	}
}

.publications a, .social a{
	color:$red;
	transition:0.75s;
	&:hover{
		color:$grey;
	}
}

.date, .social a{
	@include fontSize(20);
}




// SLY

.frame { padding: 0; width: 100%; height: auto; }
.frame .slidee { margin: 0; padding: 1em; }




// HEADER

header{
	justify-content:space-between;
	align-items:center;
	a{
		display:block;
		&:hover{
			color:white;
		}
	}
}

.menu{
	background: $red;
	color:$pink;
	@include fontSize(14);
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:68px;
	width: 68px;
	transition:0.75s;
	i{
		@include fontSize(34);
	}
}

.search{
	@include fontSize(22);
	padding:10px;
	color:$red;
	transition:0.75s;
}





// LEFT

.left{
	width:25%;
	padding-bottom:5%;
}

.publications{
	border-right:1.5px solid $red;
	border-image:linear-gradient(rgba(221,26,35,0), $red, rgba(221,26,35,0))1 100%;
	border-left-width:0;
	&::before{
		content:url(../images/back_arrow.png);
	}
	a{
		@include fontSize(18);
		padding-left:1%;
		span{
			display:block;
			@include fontSize(38);
			letter-spacing:1px;
			margin-top:0.5%;
		}
	}
}

.author{
	margin:0 auto;
	img{
		width: 85%;
		height:auto;
		margin:4% auto;
		display:block;
	}
}

.authorInfo{
	width: 90%;
	margin:0 auto;
	padding-left:5%;
	border-left:1.5px solid $red;
	border-image:linear-gradient(to bottom, $red, rgba(221,26,35,0))1 100%;
	border-right-width:0;
	h3{
		@include fontSize(24);
	}
	p{
		margin:2% 0;
	}
	span{
		color:$red;
	}
}





// RIGHT

.right{
	width: 73%;
}

.date{
	color:$red;
	font-weight:400;
}

.articleTitle{
	@include fontSize(30);
}

.social{
	width: 15%;
	justify-content:space-between;
	margin:2% 0 3% 0;
}

.article{
	@include fontSize(14);
	@include muli;
	letter-spacing:0;
	p{
		margin-bottom:2%;
	}
	p:last-of-type{
		margin-top:2%;
	}
}











// // MEDIA QUERIES

// @media all and (max-width: 1068px){
// 	.innerContainer{
// 		width: 90%;
// 	}
// 	.logo{
// 		max-width: 300px;
// 	}
// 	.news{
// 		flex-direction:column;
// 	}
// 	.social{
// 		margin-left:2%;
// 		width: 100%;
// 	}
// 	.publications{
// 		border-right:none;
// 		width: 100%;
// 		margin-bottom:3%;
// 	}
// }

// @media all and (max-width: 770px){
// 	.navBar{
// 		margin-bottom:10%;
// 	}
// 	.logo{
// 		max-width: 200px;
// 	}
// 	.menu p{
// 		display:none;
// 	}
// 	.headShot{
// 		width: 100%;
// 		img{
// 			display:none;
// 		}
// 	}
// 	.about{
// 		width: 100%;
// 		margin:0 0 4% 2%;
// 	}
// 	.article{
// 		width: 100%;
// 	}
// }

// @media all and (max-width: 500px){
// 	logo{
// 		max-width: 100px;
// 	}
// 	.newsItems h2{
// 		@include fontSize(16);
// 		padding-top:2%;
// 	}
// }

// @media all and (max-width: 425px){
// 	.about{
// 		padding:5% 0;
// 	}
// }








